@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Bạn đã đặt hàng thành công!</h1>
        Số hóa đơn : @Model <br /><br />
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Bạn đã đặt hàng thành công! <br />

    </div>
</div> 